[2014-02-11 05:38] guenter opened #1 "mvn package fails on Linux"
[code]

[2014-05-28 11:02] ahll opened #4 "ZOO_ERROR@handle_socket_error_msg Conexión rehusada"
MesosStoreTest:
2014-05-28 13:00:00,023:24157(0x613fdb40):ZOO_ERROR@handle_socket_error_msg@1697: Socket [127.0.0.1:2181] zk retcode=-4, errno=111(Conexión rehusada): server refused to accept the client

Hi,
   I tried to install cassandra-mesos, then I got this error, anyone could help me?

[2014-05-28 12:07] #4 closed, assigned to nobody

[2014-06-05 02:42] yulis opened #5 "zookeeper_init fails for multi-master Mesos setup"
mesos.yaml:
* * *
...
mesos.master.url: 'zk://zk1.example.com:2181,zk2.example.com:2181,zk3.example.com:2181/mesos'
state.zk: 'zk1.example.com:2181,zk2.example.com:2181,zk3.example.com:2181/cassandra-mesos'
...
* * *
executing bin/cassandra-mesos gives:
...
0 [main] INFO mesosphere.cassandra.Main$  - Starting Cassandra on Mesos.
2014-06-05 02:30:05,017:2627(0x7f40167fc700):ZOO_INFO@log_env@712: Cl

[2014-07-04 08:53] singularity-sg opened #6 "Cassandra tasks are not restarted when the Mesos cluster is shutdown"
The cassandra-mesos tasks were able to run when the framework is first introduced with a cassandra clustername. However, whenever I restart the mesos cluster, the Cassandra-mesos tasks do not re-run even when the cassandra-mesos scheduler receives sufficient resource offers from the slave mesos nodes.

An example of the output from the mesos nodes is :

445421 [Thread-85] INFO mesosphere.cassandra

[2014-09-24 15:08] elyast opened #7 "Feature: Allow to configure minimal no of seed servers that will trigger start of ConfigServer"
Currently noOfHWNodes is used as minimal set of servers that will trigger ConfigServer, however if we want to run big amount of instances, the start of ConfigServer may not happen, because MesosTasks will get killed (not running ConfigServer) and ConfigServer won't be run because not enough servers.

What do you think about that?

Having sth like

[code]
would make sense?

I can do PR.

[2014-10-19 01:08] tnn1t1s opened #11 "Build Fails with mesosphere.mesos.util.* not found"
Running build.sh from head, I get the following failure (Mac OS 10.9.3)

[ERROR] /Users/xxx/Developer/cassandra/cassandra-mesos/src/main/scala/mesosphere/cassandra/CassandraScheduler.scala:4: error: object ScalarResource is not a member of package mesosphere.mesos.util
[ERROR] import mesosphere.mesos.util.ScalarResource
[ERROR]        ^
[ERROR] /Users/xxx/Developer/cassandra/cassandra-mesos/src/ma

[2014-12-19 16:52] tanpinsiang opened #13 "Cassandra log file missing on cassandra-mesos-2.1.2-1"
Cassandra-mesos-2.1.2 build from master are working great, except the is no log file form Cassandra. Cassandra will emit the warning below.

    SLF4J: Class path contains multiple SLF4J bindings.
    SLF4J: Found binding in [jar:file:/tmp/mesos/slaves/20141216-201216-1694607552-5050-3917-S4/frameworks/20141216-215902-1694607552-5050-6890-0000/executors/cassandra.58031e09-460a-4df6-8ff2-fbcf7a1da6

[2015-01-06 18:15] Bleakwise commented on #6
I have this same issue, been driving me mad. Where is the cassandraMesos directory?

[2015-01-07 02:51] Bleakwise commented on #6
UPDATE2:
Using the zkCli.sh utility I went into ZK and deleted
/cassandraMesos/tesserver/app:nodeSet and app:frameworkId which also got cassandra-mesos back running.

I'm going to sleep, but tomorrow I plan to see if just deleting app:nodeset OR just app:frameworkId gets it going as well. Once either the nodeset or frameworkid has been isolated I'll better know how to continue in some resolution.

[2015-01-12 09:36] xasima opened #14 "how to stop / restart cassandra-mesos"
We may use multiple-ssh (http://grokbase.com/t/cassandra/user/117ncdcha7/how-to-stop-the-whole-cluster-start-the-whole-cluster-like-in-hadoop-hbase) or direct container manipulation (https://github.com/jimenezrick/docker-cassandra-cluster/blob/master/scripts/run-cassandra-cluster)  to issue  stop/restart command for  cassandra instances on several nodes in cluster.

It seems that the kill of cassa

[2015-01-12 09:37] xasima opened #15 "how to stop / restart cassandra-mesos"
We may use multiple-ssh (http://grokbase.com/t/cassandra/user/117ncdcha7/how-to-stop-the-whole-cluster-start-the-whole-cluster-like-in-hadoop-hbase) or direct container manipulation (https://github.com/jimenezrick/docker-cassandra-cluster/blob/master/scripts/run-cassandra-cluster)  to issue  stop/restart command for  cassandra instances on several nodes in cluster.

It seems that the kill of cassa

[2015-01-16 21:41] vishramachandran opened #16 "Not able to deploy framework to Mesos"
mesos Version 0.20.1
Zookeeper version: 3.4.6-1569965
cassandra-mesos latest as of date on master branch

I tried to setup cassandra-mesos on my local mesos+zookeeper setup on OS X, and see following in the logs. Appears as if scheduler is stuck there and eventually times out with zookeeper connection. The mesos UI does not show this framework as registered

2015-01-16 13:32:48,482:94019(0x11a85d0

[2015-01-22 00:23] pcj opened #17 "Failed to allocate tasks on DigitalOcean, and more"
Several issues:

1. Upon spinning up a test cluster in digital ocean environment and installing cassandra-mesos as described...

[code]

... Task allocation failed due to mesos attempting to access unknown host; wget failed.

[code]

Checking `/etc/hosts` on the slave contains no entry for mesos-master `development-3657-d15`, so wget failed.  I was able to rescue this by explicitly providing the m

[2015-01-22 21:57] pcj commented on #17
Got it working by configuring `cassandra.yaml:listen_address` to the public ip of the slave where cassandra task was deployed.

[2015-01-24 23:32] pcj opened #18 "Should not hardcode framework name"
Current implementation hardcodes the framework name as `'Cassandra ${clusterName}'`.  This causes issues with service discovery via `mesos-dns`.

See https://github.com/mesosphere/mesos-dns/issues/70

[2015-02-18 03:23] srikanthr341 commented on #16
Hi,
  I am seeing the same issue.
  Were you able to figure the root cause ?

[2015-02-18 05:22] srikanthr341 opened #24 "Scheduler error java.util.concurrent.ExecutionException: Failed to create '/cassandraMesos' in ZooKeeper: no node"
I cloned the master branch of cassandra-mesos today, built the tar ball but the scheduler gives the below error.  Also do you have any tag, release, branch that reflects the working tar ball http://downloads.mesosphere.io/cassandra/cassandra-mesos-2.0.5-1.tgz ??
++++++++++
I0218 05:17:23.007205    31 group.cpp:659] Trying to get '/mesos/info_0000000000' in ZooKeeper
I0218 05:17:23.008177    31 det

[2015-02-18 19:25] BenWhitehead commented on #24
Hi @srikanthr341 The master branch is end-of-life and will be replaced in the near future by the code on the rewrite branch.

The rewrite branch is still in very heavy development and not yet ready for POC use.

[2015-02-18 20:02] srikanthr341 commented on #24
Thanks. I figured out that the artifactid mesos-utils_2.10 being 0.20.0-2 is the root cause of the problem.
My mesos cluster is actually 0.21version.  Is there any way I can use the master/poc branch to use the later versions of the artifactid mesos-utils_2.10

[2015-02-18 20:05] BenWhitehead commented on #24
you might be able to just update the pom to the new version, but there is the possibility that there are incompatible changes between how the framework is using 0.20 and how it may try to use 0.21.

[2015-02-18 20:05] srikanthr341 commented on #24
Or is there any branch/tag that corresponds to the http://downloads.mesosphere.io/cassandra/cassandra-mesos-2.0.5-1.tgz

Because this tar ball does not give me the above Exception. But when I try to build the tar ball locally from source code(master/poc branch) and use that tar ball I get the above exception.  I need to build the tar ball from source code because I plan to add some features in.

[2015-02-18 20:06] srikanthr341 commented on #24
OK. I tried some combinations but I get errors dying mvn package. What is the artifact-id version that I can use ?

[2015-02-18 20:10] BenWhitehead commented on #24
There is no tag, and I don't know what revision that tar was built from.

The artifact id should stay the same, the only thing you should have to change is the version.

I would not recommend building something on top of the code that is in master. It is dead code that is going to be replaced.

The code that is being written in rewrite is being developed with the feedback and involvement of the Ca

[2015-02-18 20:14] srikanthr341 commented on #24
Thanks. Understood. But I would want to still do some POC and experiments based on either master or POC branches.
What would the version# mesos-utils_2.10 for that I can use for my 0.21 mesos cluster.

[2015-02-18 20:15] BenWhitehead commented on #24
Based on the tags here: https://github.com/mesosphere/mesos-utils/releases

My guess would be to update the version to `0.21.0-1`

[2015-02-18 21:14] srikanthr341 commented on #24
Thanks.
BTW for my experiments which branch would you recommend - master or poc ?

[2015-02-18 21:28] BenWhitehead commented on #24
I'm not sure what experiment you're trying to run or what your goals are.

However, master is dead and will be replaced. The rewrite branch is in heavy development with the goal to take over master soon.

If all you need to do is start some Cassandra Nodes in an ephemeral (completely temporary, all data will be lost if the framework service shuts down) way then the code in the rewrite branch shoul

[2015-02-18 22:00] srikanthr341 commented on #24
Absolutely understood!  rewrite branch is the way to go..

In both master and poc branches I tried using the version 0.21.0-1 of mesos-utils_2.10 in but I still get the same Exception.
Do have any plans to support the master/poc for mesos clusters of version 0.21 ? That would be great.

[2015-02-18 22:48] BenWhitehead commented on #24
The rewrite branch is being developed against 0.21.1 currently but will ultimately depend on at least 0.22 as the data volume management won't be in anything earlier than mesos 0.22.

[2015-02-18 23:50] srikanthr341 commented on #24
Ben,
 I mean can the current existing main and/or poc branches can be made to work on 0.21.1 mesos clusters?

[2015-02-19 01:32] BenWhitehead commented on #24
The only branch that I know of that will work on 0.21.1 is the rewrite branch.

Unfortunately I don't have time to update master or poc to get them working on 0.21.1.

[2015-02-19 19:46] srikanthr341 commented on #24
Thanks Ben. I will start experimenting with rewrite branch. Also looking at the README file it looks like currently it only supports dev mode( i.e. single node mesos/cassandra cluster).   Is the branch ready enough to be used for a multiple node cassandra/mesos cluster?

[2015-02-19 23:16] BenWhitehead commented on #24
Hi @srikanthr341 it can be used to run nodes on multiple hosts.

[Here](https://teamcity.mesosphere.io/viewLog.html?buildTypeId=Oss_Mesos_Cassandra_CassandraFramework&buildId=lastSuccessful&buildBranch=rewrite&tab=artifacts) is a link to the build artifacts for the last successful build of the rewrite branch.

In the artifacts there is a `marathon.json` that you can use to start the framework and

[2015-03-06 08:40] exnerd opened #43 "Trouble connecting to Cassandra cluster"
Hi,

I build the latest cassandra-mesos from the rewrite branch. I started a Cassandra cluster with marathon. I see the Cassandra 'master' coming up and registering the framework 'cassandra.dev-test' in the mesos cluster. Afterwards 3 executor nodes are created. Everything seems fine. The cassandra cluster is up. But when I try to connect with csqlh to the cluster nothing happens.
What does seems

[2015-03-06 19:47] BenWhitehead commented on #43
The marathon.json is used to launch the framework which then connects to Mesos using the value specified in the `MESOS_ZK` env variable. When the framework starts it will receive a random port from marathon that it can use to bind it's HTTP server to.

The standard cassandra ports are taken into consideration when the cassandra framework evaluates a resource offer from mesos. If the offer doesn't

[2015-03-09 11:08] exnerd commented on #43
Hi Ben,

I restarted the whole procedure. I removed the framework in mesos. Removed in zookeeper  the cassandra-mesos subtree and restarted the framework.
As asked I made a gist of the first 250 lines of the cassanda-mesos.log https://gist.github.com/exnerd/1403f96953df7b2c164d . 3 executors were started as you can see in the log. Shouldn't the framework stop seeking resources after that? Because

[2015-03-09 13:40] exnerd commented on #43
Something struck me, why would a mesos-slave announce that it hasn't the (port) resources, while nothing was running that used that port.
In the Mesos UI the mesos-slave(s) showed an active framework with no running task. Those were from a previous runs. I deleted those with
[code]
and restarted the mesos-slaves.

Afterwards a restarted the procedure and now the framework is running 4 task instead

[2015-03-09 22:46] BenWhitehead commented on #43
Yes you are correct.  The only way that a port wouldn't be part of a resource offer is if it is claimed by another task.  We are currently working on getting lots of improvements into the scheduler so that it can recover more appropriately after restarts and task failures.

[2015-03-11 00:51] BenWhitehead commented on #43
@exnerd Where you able to get unblocked, or are you still having issues?

[2015-03-11 08:04] exnerd commented on #43
Well Ben,

a bit of both ;-).
 - Still having in the logs 'Unavailable port 7199' in the cassandra-mesos.log. I checked with netstat -anp, lsof -i on the node, but nothing is listing on that port. I don't know how mesos handles port resources. I haven't found any log or rest-call that shows the port resources per slave or for the entire cluster for that matter. The problem is that you have to assi

[2015-03-11 19:17] BenWhitehead commented on #43
@exnerd If the port still isn't available the best way to check that the slave has the correct configuration is to check it's state endpoint. Go to `http://slave1.mesos:5051/state.json` to get a json document listing all state of the slave including configuration and resources. You should see something like the json below. Notice the value of `.flags.resources` represents the resources argument pa

[2015-03-12 10:31] exnerd commented on #43
Thanks for the explanation, especially the expected tasks and executors can help in debugging the whole setup. I will follow the progress of this project in the coming weeks.
Let me know if I can help with something.

Regards,
exnerd

[2015-03-12 10:31] #43 closed

[2015-03-12 20:06] BenWhitehead commented on #43
Sure, thanks for being eager to try it out and providing feedback.

[2015-03-13 04:59] elyast commented on #7
it's been already fixed with PR #10

[2015-03-13 04:59] #7 closed

[2015-03-25 22:34] yanglei99 opened #71 "TASK_LOST message: "Task uses invalid resources: disk(*):0" - Resolved by a temp fix"
I downloaded the marathon.json from the link on the README and revised MESOS_ZK and CASSANDRA_ZK with my zk location.

I have also revised my mesos slave nodes's resources to be:  ports:[31000-32000,7000-7001,7199-7199,9042-9042,9160-9160]

After I submit the marathon.json, I got the TASK_LOST message below:
2015-03-25 16:25:09,559 TRACE [Thread-467          ] i.m.m.f.cassandra.CassandraScheduler

[2015-03-26 00:35] yanglei99 commented on #71
After looking at Issue 43, it seems others got it to work by building the latest branch. I will give it a try. However, it will still be better if the predefined build works as indicated by the README.

Thanks.

Yang

[2015-03-27 14:33] yanglei99 commented on #71
Worked around the issue by the following change

diff --git a/cassandra-scheduler/src/main/java/io/mesosphere/mesos/frameworks/cassandra/CassandraCluster.java b/cassandra-scheduler/src/main/java/io/mesosphere/mesos/fram
index bb64f6a..fb74854 100644
--- a/cassandra-scheduler/src/main/java/io/mesosphere/mesos/frameworks/cassandra/CassandraCluster.java
+++ b/cassandra-scheduler/src/main/java/io/meso

[2015-03-27 17:30] yanglei99 opened #74 "could not connect to the scheduler host and port using cqlsh"
cqlsh can connect to the live node and port, but not the scheduler 's host and port.

cqlsh <my scheduler host> <my scheduler port>
Connection error: ('Unable to connect to any servers', {'<my scheduler host>': OperationTimedOut('errors=Timed out creating connection, last_host=None',)})

Thanks. Yang

[2015-03-27 22:00] BenWhitehead commented on #71
Hi @yanglei99 the build that is linked to from the readme points to the last successful build of the rewrite branch we have. So it should have been up to date at the time you downloaded it.

With regard to the bug we'll get this fixed thanks for reporting.

[2015-03-27 22:06] BenWhitehead commented on #74
The scheduler does not provide an interface for cqlsh itself.

Though you can use the `com-cqlsh` script that is in the repo to try and connect. (what this script does is it connects to the framework gets the the arg set for cqlsh the hosts and port).

If you run into issues using `com-cqlsh` let us know and we can try to help.

[2015-04-03 18:31] BenWhitehead commented on #1
Obsolete

[2015-04-03 18:31] #1 closed

[2015-04-03 18:32] BenWhitehead commented on #5
Obsolete framework has been rewritten.

[2015-04-03 18:32] #5 closed

[2015-04-03 18:32] BenWhitehead commented on #6
Obsolete framework has been rewritten.

[2015-04-03 18:32] #6 closed

[2015-04-03 18:32] BenWhitehead commented on #11
Obsolete framework has been rewritten.

[2015-04-03 18:32] #11 closed

[2015-04-03 18:32] BenWhitehead commented on #14
Obsolete framework has been rewritten.

[2015-04-03 18:32] #14 closed

[2015-04-03 18:32] BenWhitehead commented on #13
Obsolete framework has been rewritten.

[2015-04-03 18:32] #13 closed

[2015-04-03 18:32] BenWhitehead commented on #15
Obsolete framework has been rewritten.

[2015-04-03 18:32] #15 closed

[2015-04-03 18:32] BenWhitehead commented on #16
Obsolete framework has been rewritten.

[2015-04-03 18:32] #16 closed

[2015-04-03 18:32] BenWhitehead commented on #17
Obsolete framework has been rewritten.

[2015-04-03 18:32] #17 closed

[2015-04-03 18:33] BenWhitehead commented on #18
Obsolete framework has been rewritten.

[2015-04-03 18:33] #18 closed

[2015-04-03 18:33] BenWhitehead commented on #24
Obsolete framework has been rewritten.

[2015-04-03 18:33] #24 closed

[2015-04-07 23:36] #74 closed

[2015-04-08 07:30] exnerd opened #88 "Error in startup of framework"
Hi,

I tried the latest version of the cassandra-mesos framework. When I start the job with a marathon job I got following message in the cassandra-mesos.log : io.mesosphere.mesos.util.ProtoUtils$RuntimeInvalidProtocolBufferException: com.google.protobuf.InvalidProtocolBufferException: Message missing required fields: healthCheckIntervalSeconds, defaultConfigRole

I tried to add  "CASSANDRA_HEALTH

[2015-04-08 08:13] exnerd commented on #88
Ok, found the solution. I removed the cassandra-mesos tree in zookeeper from a previous build. And everything works fine.

Still have a question, though. In the marathon.json file the uri contains the distribution tar.gz. But how does the jre finds the necessary jars if they are in the subdir cassandra-mesos-dist-0.1.0.SNAPSHOT/ ?
I had to unpack the dist tar.gz  otherwise I got the following erro

[2015-04-08 23:58] BenWhitehead commented on #88
Hi @exnerd,

Can you provide a larger stack track for when you encountered the exception about missing required fields?

There are default values set in the main so that if they're not passed in the environment they should still be there.

Correct, right now we don't have any means of allowing configuration to change after the initial start of the framework.  This is a limitation that will hopeful

[2015-04-08 23:59] BenWhitehead commented on #71
@yanglei99 Can you tell me what version of mesos you were running when you got this error? I haven't been able to reproduce it while running on mesos 0.21.1 or mesos 0.22.0.

[2015-04-09 08:58] samklr opened #89 "Error building Cassandra-mesos-dist"
Hi,
I tried to build the project but there seems to be an issue when maven tries to download the bnary at https://downloads.mesosphere.io/cassandra-mesos/cassandra/apache-casandra-2.1.4-bin.tar.gz in the cassandra-mesos-dist module.

[2015-04-09 20:38] BenWhitehead commented on #89
It looks like you have a typo in the URL you've pasted. It should be

[code]

Rather than building it yourself, you can run the framework via marathon using the marathon json from the latest build [here](https://teamcity.mesosphere.io/guestAuth/repository/download/Oss_Mesos_Cassandra_CassandraFramework/.lastSuccessful/marathon.json)

If you don't want to run it via marathon (I would highly recomme

[2015-04-10 08:30] samklr commented on #89
Oh yeah right. Managed to run it through marathon eventually using marathon.json. Thx

[2015-04-10 08:30] #89 closed

[2015-04-10 17:50] BenWhitehead commented on #89
Sure, happy to help.

Thanks for raising the issue, we've seen issues with other resources in this public s3 bucket for other projects too, so there is a possibility there was service blip with s3.

[2015-04-16 01:05] BenWhitehead commented on #71
Closing as I've not been able to reproduce this.

[2015-04-16 01:06] BenWhitehead commented on #88
Closing as I've not been able to reproduce this.

[2015-04-16 01:06] #88 closed

[2015-04-16 01:26] lucamartinetti commented on #71
I have the same bug on mesos 0.21.1

[code]

Maybe I can help reproduce it?

[2015-04-16 01:49] BenWhitehead commented on #71
@lucamartinetti can you provide some more info about your environment as well as the marathon.json you're using to run the framework?

[2015-04-16 01:53] lucamartinetti commented on #71
This is the marathon.json

[code]

cassandra-mesos-dev.tar.gz I just built from master. Same error also with your team city version.

Any idea? I can provide more logs if needed or run an instrumented branch

[2015-04-16 01:56] BenWhitehead commented on #71
What SHA did you build the framework from? Are you using the mesosphere mesos package or is that built from source?

If you have more logs you can link to that could be helpful.

[2015-04-16 01:57] BenWhitehead commented on #71
What SHA did you build the framework from? Are you using the mesosphere mesos package or is that built from source?

If you have more logs you can link to that could be helpful.

[2015-04-16 02:07] lucamartinetti commented on #71
I am using this package:

[code]

The SHA is
[code]

[2015-04-16 17:54] BenWhitehead commented on #71
@lucamartinetti I wasn't able to reproduce the issue but I've updated the code so that disk won't be sent to mesos if it's < 1.

Can you try the new [build](https://teamcity.mesosphere.io/guestAuth/repository/download/Oss_Mesos_Cassandra_CassandraFramework/14903:id/marathon.json) and let me know if it works for you?

[2015-04-16 18:07] lucamartinetti commented on #71
sure thanks! I will let you know soon

[2015-04-16 18:50] lucamartinetti commented on #71
Tried the new build and this is what I am getting:

[code]

[2015-04-16 21:27] BenWhitehead commented on #71
Hi @lucamartinetti Can you create a gist and link to it with the output of the following rest endpoints from the scheduler:

1. `/health/cluster/report`
2. `/config`
3. `/node/all`

You can find where the scheduler is running from marathon's task endpoint `/v2/apps/cassandra/mezcal/tasks`.

[2015-04-17 20:24] BenWhitehead opened #93 "TASK_FINISHED is never sent for config update task."

[2015-04-22 17:53] BenWhitehead commented on #93
Fixed by #94

[2015-04-22 17:53] #93 closed

[2015-04-22 17:55] BenWhitehead commented on #71
Hi @lucamartinetti are you still running into this issue? Or can I close it now #92 has been merged?

[2015-04-22 21:32] lucamartinetti commented on #71
Thanks Ben. let me test again

[2015-04-22 21:44] lucamartinetti commented on #71
Still not working for me. I collected all the logs here: https://gist.github.com/lucamartinetti/38f8e13920739d6b22d6

[2015-04-22 23:44] BenWhitehead commented on #71
@lucamartinetti Thanks for providing the info.  It looks like the framework believes there are 3 servers configured, but for some reason isn't trying to launch tasks.

I'm going to close this bug and create a new one where we can track this scenario as I may end up being larger than the scope of this original bug.

[2015-04-22 23:44] lucamartinetti commented on #71
Thanks! Let me know how I can help you.

[2015-04-22 23:45] BenWhitehead opened #97 "It is possible for the cassandra framework to get into a state where there are nodes but no tasks."
See [gist](https://gist.github.com/lucamartinetti/38f8e13920739d6b22d6) from @lucamartinetti

[2015-04-22 23:45] #71 closed

[2015-04-22 23:47] BenWhitehead commented on #97
HI @lucamartinetti I'm creating a new build right now it additional logging in the code that is evaluating the resource offer from mesos.

Can you please try restarting the framework with this new [marathon.json](https://teamcity.mesosphere.io/guestAuth/repository/download/Oss_Mesos_Cassandra_CassandraFramework/15606:id/marathon.json).  This should pull the new scheduler code and give us a little

[2015-04-23 20:33] lucamartinetti commented on #97
Trying now

[2015-04-23 20:43] lucamartinetti commented on #97
@BenWhitehead do you want to chat on skype? please add me "lucamartinetti"

[2015-04-23 21:24] lucamartinetti commented on #97
I have it running. Had to delete some previous zookeeper data. I can give you more details if needed

[2015-04-23 22:19] BenWhitehead commented on #97
@lucamartinetti I'm glad it's working now, thanks for testing.  Any extra details would be great so that I can try and make sure this doesn't happen again.

[2015-04-24 17:37] BenWhitehead opened #99 "It's possible for the scheduler to crash due to GC Overhead Limit"
[code]

[2015-05-15 14:10] kevinschmidt opened #105 "cassandra in unhealthy state in dcos even if cluster is fine"
steps to reproduce from clean state in standard aws cluster (5 slaves).

1. dcos install cassandra
2. wait for healthy state
3. terminate 1 EC instance that has a Cassandra executor running
4. wait for auto-scaling to spin up another instance to replace the terminate one
5. call POST /node/{terminated node}/terminate/
6. wait for Cassandra to spin up another executor to get back to 3

After this w

[2015-05-17 20:21] snazy commented on #99
Did it occur while running a big cluster?

[2015-05-17 20:41] snazy commented on #105
The "node object" is actually only removed during a resource-offer for that node (which did/can never arrive). FTR: it is correct that the node-object is not removed - the actual failure could have been anything from a network hiccup to a fatal server failure (the node can technically reappear).

The node object is removed when the first health check arrives for the replacement node.

To be clear,

[2015-05-18 22:03] BenWhitehead commented on #99
Yes it happened due to the trace logging of resource offers when running as the only framework on a 100 nodes cluster.

[2015-05-18 22:59] snazy commented on #99
Yea - debug + trace logging might be one reason. Another reason might be (de)construction of the big arrays for nodes and health checks (`CassandraCluster.recordHealthCheck`).

As a temporary workaround maybe just increase the scheduler's heap size. There might be big pressure on new-gen caused by that object constructions. These should fit into new-gen (which might not be the case if the heap's j

[2015-05-19 00:08] BenWhitehead commented on #99
Makes sense, I've only seen this happen once and ultimately the framework was able to be restarted by marathon and recover so it hasn't become high priority yet.

[2015-05-19 07:00] snazy commented on #99
Well, then probably just adjust the heap size :)

[2015-07-01 16:32] TrevorBasinger opened #112 "UninitializedMessageException when repairing cluster"
I sent a POST request to /cluster/repair/start and my cassandra.dcos is continuously failing to start.

Here is the relevant portion of the stderr:

[code]

I haven't grokked the whole project, but if I had to guess, I think the problem might be [here](https://github.com/mesosphere/cassandra-mesos/blob/master/cassandra-mesos-scheduler/src/main/java/io/mesosphere/mesos/frameworks/cassandra/schedule

[2015-07-03 00:05] BenWhitehead commented on #112
Thanks for the report @TrevorBasinger those two links you've provided look like good guesses. I'll try and spend some time putting a fix together.

In the mean time you can try running nodetool manually on each of the hosts that is running cassandra with the following command:
[code]

[2015-07-03 08:49] MatthiasBach opened #113 "Allow specifying the hostname/IP to use for the HTTP server base URI"
I am working on a set-up where the hostname of the machine does not resolve to the IP via which the machine can be reached by the Mesos slaves and masters. Thus, Cassandra-Mesos binds its HTTP server to the -- for my set-up -- wrong IP and fails to receive resource grants. And even if it would receive resources, slaves would not be able to download Java their requirements. I would thus suggest to

[2015-07-03 11:40] MatthiasBach commented on #113
Just as a bit of information for anybody having similar issues. What is requested in this issue will only fix the binding of the API. You might still get connection errors from the Mesos master. In this case you will have also have to set `LIBPROCESS_IP` to make the Mesos client code use the correct IP.

[2015-07-04 18:02] BenWhitehead commented on #113
@MatthiasBach Can you outline what your networking setup looks like so that we and better understand why the current approach fails?

The current implementation has successfully been ran on clusters with multiple NICs on different subnets so I'd like to understand the differences here.

I'm hesitant to add a parameter for this sort of thing, because there are many many scenarios in which having pa

[2015-07-06 07:15] MatthiasBach commented on #113
Thanks, `LIBPROCESS_IP` really is an annoying beast.
In our set-up we have dedicated management and service interfaces. The hostname as reported by `hostname` resolves to the management interface, as a host might be reachable via multiple hostnames on the service interface.
Thus, the REST API will bind to this interface. However, other hosts in the cluster will only be able to access the service i

[2015-07-07 00:12] BenWhitehead commented on #113
Thanks for the info @MatthiasBach.

I just merged #114 that allows for the configuration of the host for the http server by specifying the `HOST` environment variable.  This is something that you get for free if you are running the scheduler via marathon like we do for DCOS.

Does this allow the level of configuration you need? A new marathon.json including this merge can be found [here](https://t

[2015-07-07 08:26] MatthiasBach commented on #113
Yes, this should work. Thanks!

[2015-07-07 08:26] #113 closed

[2015-07-07 12:54] TrevorBasinger commented on #112
I appreciate you getting back with me. We've decided to run cassandra outside of DCOS for the time being. Thanks for your time!

[2015-07-08 04:43] keshavab opened #117 "Framework always fails, containers wont start - mesos fetcher"
On following the github page and submitting the marathon Job -> https://teamcity.mesosphere.io/guestAuth/repository/download/Oss_Mesos_Cassandra_CassandraFramework/.lastSuccessful/marathon.json

It always fails with error attached -. I also tried changing --executor_registration_timeout=30mins. Still no luck. always fails after fetcher - Fetching URIs using command '/usr/libexec/mesos/mesos-fetche

[2015-07-08 20:52] BenWhitehead commented on #117
I just tested launching build `0.1.1-SNAPSHOT-498-master-cdc9a3afd6` on a cluster and everything started up okay.

Do you have `stdout`, `stderr` and `cassandra-mesos.log` from the task sandbox? It looks like the task is trying to startup but is exiting.

[2015-07-09 20:58] TrevorBasinger commented on #112
@BenWhitehead Wanted to let you know we're running cassandra inside mesosphere again. I'm willing to help test once you've got a fix ready.

[2015-07-09 21:17] BenWhitehead commented on #112
great to hear, I hope to have a fix in soon.

[2015-07-10 23:10] #112 closed

[2015-07-10 23:12] BenWhitehead commented on #112
@TrevorBasinger I just merged a change (in #119) that should help take care of the issue that is happening.

I managed to only get the exception once in my pre-fix testing, but didn't get it any times after applying the fix.

This will go out in the next release of the framework.

[2015-07-17 09:01] AndriiOmelianenko opened #121 "Cassandra tasks getting LOST status in mesos"
I have deployed DCOS cluster and installed here cassandra and spark.
I'm running spark job on one of masters `dcos spark run --submit-args='--class org.apache.spark.examples.SparkPi http://downloads.mesosphere.com.s3.amazonaws.com/assets/spark/spark-examples_2.10-1.4.0-SNAPSHOT.jar 10'` and after it's finishs execution few cassandra executors fail. In mesos it looks like this:
[code]

Spark job ra

[2015-07-21 01:25] BenWhitehead commented on #121
thanks @AndriiOmelianenko I'll try and reproduce this in the next couple days and get back to you, I'm not sure why a spark job would kill off one of the cassandra executors.

[2015-07-23 10:57] flosell opened #122 "Configuration in Zookeeper seems to overwrite Framework Runtime Configuration in environment variables"
When initially starting the framework, we did not set the `CASSANDRA_FRAMEWORK_MESOS_ROLE` environment variable.  When we later tried to change this, we noticed the framework was still using the default `*`-role to reserve resources.
After we deleted the framework-state in zookeeper, the role configured in the environment-variable was used.

Is this behaviour intentional? If yes, maybe this should

[2015-07-23 23:21] BenWhitehead commented on #122
Hi @flosell,

This behavior is intended.  The majority of the environment variables are actually used for bootstrapping the framework not for ongoing runtime configuration.

This is important for multiple reasons. For example we want to make sure that all configuration is accurately preserved across restarts of the framework.  The specific example you mentioned with role is a great one, when a fra

[2015-07-24 08:23] flosell commented on #122
Hi, thanks for the detailed explanation!
I added something to the README that might have made it easier for me to understand what was happening.

I don't think we need a REST API for those things, new users just need to be aware the configuration works like this.

[2015-07-24 08:25] #122 closed

[2015-07-24 17:56] BenWhitehead commented on #122
Thanks for the PR.

[2015-07-27 08:00] AndriiOmelianenko commented on #121
@BenWhitehead thanks.
Also, I noticed, that same status receives not only cassandra tasks, but hdfs and kafka too. Some tasks receives `LOST` status and some `FAILED`.

I'm running DCOS cluster in OpenStack environment, and everything works good until I run Spark job :)

[2015-07-27 13:52] AndriiOmelianenko commented on #121
Logs of cassandra/hdfs/kafka frameworks doesn't say anything good, they are ending with successful `Framework registered with 20150727-115610`

there is `/var/log/messages` of first of slaves:
[code]

`mesos-slave.ERROR` of slave-01
[code]

`mesos-slave.WARNING` of slave-01
[code]

[2015-07-27 14:16] AndriiOmelianenko commented on #121
`/var/log/messages` of slave-02. there is also info about kafka task which was received for this node after it failed.
[code]

`mesos-slave.WARNING` of slave-02

[code]

[2015-07-27 14:30] AndriiOmelianenko commented on #121
so this what happens when tasks are getting `LOST` status
[code]

[code]

[2015-07-27 20:33] BenWhitehead commented on #121
Hmm, thanks for the additional details @AndriiOmelianenko. Can you should me the slave configuration flags that are used for the slaves?  Cassandra doesn't run in a docker container but it looks like it may be the docker containerizer that is trying to run the tasks which it won't be able to do.

To get the flags of the slave you can hit the mesos slave http api at `http://<slave_host>/slave(1)/st

[2015-07-28 08:49] AndriiOmelianenko commented on #121
@BenWhitehead yes, there is such options `"containerizers":"docker,mesos"`

[2015-07-28 23:39] BenWhitehead commented on #121
Thanks @AndriiOmelianenko.  I spent some time trying to reproduce this behavior you're seeing as I've never seen it before (nor have my colleagues).

I started a DCOS Cluster on AWS, then ran the following commands:
[code]

After all frameworks started their tasks and everything was healthy I ran:
[code]

The spark job completed successfully, everything else kept running and the cluster is still h

[2015-08-06 20:23] BenWhitehead commented on #121
@AndriiOmelianenko I've finally been able to reproduce this task lost issue.

A fix is in PR #128 This fix will be released with version 0.2.0 that will be released soon.

[2015-08-10 20:16] ssk2 opened #131 "Update documentation to use "Cassandra-Mesos" consistently instead of "Cassandra-on-Mesos""

[2015-08-10 20:48] #121 closed

[2015-08-13 18:46] #131 closed

[2015-09-05 18:46] samek opened #137 "upgrading the framework on running cluster."
Hi,

We're currently running 0.1.1-SNAPSHOT-514-master-a6a94fbb.  (through marathon)

How should we approach upgrade to 0.2.1 ? Just update the app in marathon ?
I would like to have things running like they are right now...

[2015-09-06 18:44] vimvim opened #138 "Invalid cluster name specified in the cassandra.yaml"
Executor adds "cassandra." prefix to the cluster name specified in the marathon.json

---------------------------------------------------------------------------------------------------------------------------
marathon.json:
  "env": {
   ....
    "CASSANDRA_CLUSTER_NAME": "ClusterName1",

-------------------------------------------------------------------------------------------------------------

[2015-09-09 14:32] AndriiOmelianenko opened #139 "Mesos roles"
Hi guys,

I'm just checking if Mesos roles will be implemented, so the scheduler and executors can accept different roles.

[2015-09-09 18:45] BenWhitehead commented on #139
Roles are already implemented, and can be configured by setting the `CASSANDRA_FRAMEWORK_MESOS_ROLE` environment variable when starting the framework.  This will cause the framework to register with mesos using the specified role and will receive offers for that role.

If you are running dcos, this can be set in options.json:
[code]

And at install time do `docs package install cassandra --options

[2015-09-10 07:52] samek commented on #137
Anyone ?

[2015-09-10 16:17] AndriiOmelianenko opened #140 "Cassandra ignores set-up parameters"
Hi guys,

Cassandra DCOS package ignores all configuration parameters and doesn't allow to change settings.

Any options regarding data directory, RAM, CPU and so on are ignored, there is no way to customize DCOS Cassandra package installation atm.

[2015-09-10 16:31] elingg commented on #137
Hi @samek, is your goal to simply upgrade the framework scheduler? If yes, it seems that should be possible by updating the app in Marathon. @BenWhitehead can jump in and let us know any additional details.

[2015-09-10 16:32] elingg commented on #138
I believe this is as expected. Is it causing any issues?

[2015-09-10 16:39] samek commented on #137
@elingg Yes, just the scheduler.

[2015-09-11 15:02] keithchambers commented on #139
Thank you for the question!

[2015-09-11 15:02] #139 closed

[2015-09-16 05:09] vimvim commented on #138
Yes, this problem is cause serious configuration issue because we unable to setup replication with the external Cassandra cluster ( native Cassandra - without cassandra-mesos ). External cluster has name "ClusterName1" ( not real name - only for example). This is production cluster,so we unable to change this name to another. At the same time we can't specify this cluster name for new cassandra-me

[2015-09-16 14:26] samek opened #141 "GC overhead limit exceeded"
Hi,
We're experiencing GC overhead limit exceeded every couple of days. Scheduler dies and it's not restarted by marathon.

So:
Mesos framework log:

[code]

Then In marathon we're getting: (But it never get's scaled to 1)

[code]

The json for marathon is:  (We only copied cassandra.tar.gz and java to local web server from downloads.mesosphere.io)

[code]

To get it up and running again we had to

[2015-09-22 23:11] kensipe commented on #141
hey @samek

It would be great to understand the details of how you got an OOM situation.  Are you dealing with a large cluster env?    Also the logs are incomplete on the mesos log.   It seems something requested the framework to stop.  Was this a shutdown request? or a dcos package uninstall?

regarding the marathon restart failure.  The likely cause of this based on the information provided is t

[2015-09-22 23:13] kensipe commented on #140
@AndriiOmelianenko

I submitted a PR to the universe to make resources configurable:  https://github.com/mesosphere/universe/pull/231

would love a PR for anything else you are looking for..

[2015-09-22 23:19] kensipe commented on #138
we had an engineering discussion on this today... there is framework work needed in order to provide this ability and I've added a task internally to be scheduled.  We are open to a PR if you would like to accelerate that.   If you do work on this, it is important to provide previous naming for clusters from the previous version in addition to adding new behavior to new clusters.

[2015-09-22 23:20] kensipe commented on #137
@samek Is there anything else to follow up on here?

[2015-09-22 23:20] #117 closed

[2015-09-22 23:20] #99 closed

[2015-09-22 23:20] #97 closed

[2015-09-22 23:24] #105 closed

[2015-09-24 07:54] samek commented on #137
@kensipe I've tried upgrading just the tar and marathon json and it did upgrade.

[2015-09-24 08:02] samek commented on #141
@kensipe
My cluster is small in all views, cassandra: 3 nodes, mesos: 20 slaves.
No human actually did request the shutdown or tried to uninstall it. This just happens after a few days. (repeatable)

I've added -XX:-UseConcMarkSweepGC to JAVA_OPTS (currently JAVA_OPTS=-Xms256m -Xmx256m -XX:-UseConcMarkSweepGC) in marathon json. Currently it's up for 5 days.

When it stops again (if it does) I'll t

[2015-09-25 20:10] khaverlo opened #143 "Debugging Cassandra startup"
I'm going through bringup with Cassandra-Mesos and while I see the framework displayed in Mesos UI and can access the REST APIs, I don't see any indication in the logs that Cassandra has started or was attempting to start.  The logs I am looking in are those in the sandbox for cassandra-mesos.log, stderr, and stdout.  Trying to figure out how best to debug Cassandra not starting.

[2015-09-25 20:16] kikicarbonell opened #144 "problem deploying cassandra-mesos with marathon"
I'm trying cassandra-mesos on my private cluster os mesos. I'm using Readme instruction to deploy with marathon but some error occure on wake up task:

Stderr output:

[code]

and Stdout output:

[code]

My cluster has:
mesos masters: 1
mesos slaves: 3
marathon
docker

[2015-09-29 17:48] jdoklovic opened #145 "Can't get Cassandra-Mesos working with dev-run.bash"
I'm following the instructions for running locally inside a vm that already has zookeeper/mesos/marathon/mesos-dns....

I have installed cassandra and git cloned the cassandra-mesos project. When I run dev-run.bash maven runs for a bit and then throws an error complaining about a missing toolchain:

[code]
Any suggestions?

[2015-09-29 17:50] jdoklovic commented on #145
Nevermind. I found the protobuf instructions in the git repo's readme. I'm closing this issue, but note that these instructions are not in the main docs

[2015-09-29 17:50] #145 closed

[2015-09-30 17:10] elingg commented on #138
@BenWhitehead created a PR for this, thanks! With the latest master code it will work, @vimvim

[2015-09-30 17:15] #138 closed

[2015-10-01 03:53] BenWhitehead commented on #144
@kikicarbonell Can you also attache cassandra-mesos.log from the sandbox that contains the actual logs from the scheduler process.

[2015-10-01 03:56] BenWhitehead commented on #143
@khaverlo The first place to check is the cluster health report.

`GET /health/cluster/report`[1] will return a json document outlining several things that are evaluated for health.

Second, in cassandra-mesos.log look for log lines containing "Insufficient resources" to get an explanation as to why resources are being declined.

[1] http://mesosphere.github.io/cassandra-mesos/docs/rest-api.html#g

[2015-10-01 15:06] kikicarbonell commented on #144
@BenWhitehead please, you can read all logs on:  http://stackoverflow.com/questions/32830901/cassandra-mesos-health-check-fail-when-deploy-with-marathon

[2015-10-01 18:21] BenWhitehead commented on #144
Hi @kikicarbonell The ports used by cassandra can be found [here](http://docs.datastax.com/en/cassandra/2.1/cassandra/security/secureFireWall_r.html) in the official documentation. We don't start OpsCenter so you can disregard those ports.

[2015-10-01 21:34] kikicarbonell commented on #144
@BenWhitehead well I was opening port: 7000,7001,9042,9160,7199,22 but not work? if possible that made some problem around mesos framework?

[2015-10-01 22:20] BenWhitehead commented on #144
Possibly, I thought you were saying that the farmwork tried to start the tasks but cassandra wasn't able to ever form the ring.

I'll try and outline all of the network connections I know about in play here.

1. Cassandra-Mesos framework scheduler need to communicate with zk `2181` to persist it's state, locate the leading mesos-master. Needs to be able to communicate with the mesos master at port

[2015-10-02 02:44] kikicarbonell commented on #144
thks for your detailed explanation about process and port used on
cassandra-mesos fremework, after this I suppouse that the problem will be
the random port used by mesos (step 5 in your description), then I create a
rule on iptable to allow tcp traffic betwen al mesos nodes, it' s a
temporal solution but it work.

The iptable command to do it is:

iptable -A INPUT -p tcp -s <hostname> -j ACCEPT;

[2015-10-06 02:06] keithchambers commented on #137
@samek as you discovered, we don't have a story around upgrade at the moment.

Backup and restore was added recently: https://github.com/mesosphere/cassandra-mesos/blob/master/docs/docs/backup-and-restore.md

While admittedly very crude, you should be able to use backup and restore as a method of upgrade once you get the a version of the scheduler that supports it.

[2015-10-06 03:42] BenWhitehead commented on #137
Correct, the version of cassandra didn't change between 0.1.1-SNAPSHOT and 0.2.1-SNAPSHOT, there were some changes to the persisted configuration for the cluster and nodes, but the code should handled updating correctly since it's protobuf.

Things will get much more complicated when the version of cassandra itself is changing.

[2015-10-09 14:39] keithchambers opened #147 "Support configurable logging level"
Add support for runtime (re)configuring Cassandra log level to enable operators to troubleshoot Cassandra.  i.e., reconfigure the log level from INFO to DEBUG

Because logging can impact Cassandra performance, as part of this feature we need to consider if the logging level will be a global setting (all nodes) or a per node setting.

More details on Cassandra logging and configuration are availabl

[2015-10-14 13:02] ajazam opened #148 "I can't find the Datastax java driver extension."
Hello,

Didn't know where a questions so I created this.

I can't find the code for the datastax java driver extension. Can somebody help?

I want to have a play with cassandra-mesos.

[2015-10-18 22:02] elingg commented on #148
We currently don't support the Datastax Enterprise Version and support only the Open Source Cassandra at this time. Please let us know if that answers your question.

[2015-10-19 08:01] ajazam commented on #148
I don't have the Datastax enterprise version, I'm using the open source version at home. I wouldn't work out where the driver extensions were to allow the cassandra java driver to talk to zookeeper to get the IP of a seed node. Or am I missing something?

[2015-10-21 20:35] elingg commented on #148
Is your final goal to find the IP address of a seed node? Just trying to understand.

[2015-10-21 21:18] ajazam commented on #148
Yes. I want an IP for the seed node(s), so I can contact the cassandra cluster. If you're not ready then I'll hack something that works, somehow. I'm new to mesos so I'm having fun as I'm learning :)

[2015-10-26 14:43] lmtjalves opened #150 "Requested resources are not the same as the ones in the environment variables"
I'm launching the framework using Marathon and with the following resources for each node:
[code]
But when I'm watching the logs from the framework I see this:
[code]

More, when I use the REST API I get the following:
[code]

Is this a bug or is this expected? How can I solve this problem?
Thanks

[2015-10-27 23:03] #150 closed

[2015-10-29 20:56] juicedM3 opened #151 "Configuring Multi-Datacenter Support"
From the documentation (http://mesosphere.github.io/cassandra-mesos/docs/multi-dc.html), I need to set CASSANDRA_EXTERNAL_DC_<dcName>=<cassandraOnMesosUrl>. Per the example:

[code]

What port should I use? I'm assuming it's the port that is dynamically assigned by Marathon for the REST API/Command Executor. Which then makes it extremely hard to configure because I can't guess what it's going to b

[2015-10-30 13:11] achalupa74 opened #152 "Can't stand up Cassandra Ring with firewalld enabled on node that runs Cassandra Cluster"
I'm trying to get the cassandra-mesos project to run in conjunction with a configured firewalld service.  I can't seem to find a way to get the scheduler to work when firewalld is running.  Here's what I'm seeing:

- The entire range of mesos ports 31000-32000 are open in firewalld
- When i start the cassandra cluster on the node i see the following logging repeating (every minute) in the mesos-ca

[2015-11-02 16:45] mohitsoni commented on #151
@juicedM3 if possible can you please share some logs?
I am thinking of following things that can go wrong:
1. PORT0 replacement failed
2. Node which runs the executor, isnt able to access external-dc-host:port

[2015-11-02 18:46] juicedM3 commented on #151
@mohitsoni thanks for the reply. So I might actually want to open a new ticket because the PORT0 option doesn't work for me. Here are the attached logs with just starting a cassandra-mesos cluster without multi-dc support but using the PORT0 option:

[code]
The logs:

https://drive.google.com/file/d/0BzYhrqsuOpxmMXVyeW5lUVBuUjQ/view?usp=sharing
https://drive.google.com/file/d/0BzYhrqsuOpxmcEdjM1dX

[2015-11-03 00:46] nickbp commented on #152
Are you also running firewalld on the executor nodes or only the scheduler node? How do the executor nodes look, if any? The description only mentions the scheduler, but the logs point out that no nodes are up (nodeCount/seedCount).

Going by the recommended ports to be reserved in the cassandra-mesos docs (http://mesosphere.github.io/cassandra-mesos/docs/), it looks like the following ports may b

[2015-11-03 01:04] achalupa74 commented on #152
I'm not having any issues with the executors or the nodes.  I currently have all of these ports open on the firewall where the executors and nodes components run: 31000-32000,7000-7001,7199,9042,9160.  But the only way that I can seem to get the Cassandra scheduler to launch anything is to START it on a machine that has the firewalld service disabled.

[2015-11-03 18:39] achalupa74 commented on #152
I was able to find an acceptable solution to this problem.  I found if you set the LIBMESOS_PORT environment variable in the Marathon JSON file for the Cassandra scheduler application and ensure that that same port is open in the firewall this issue does not occur.

Reference information from this link for a similar problem: https://github.com/mesos/chronos/issues/338

Actual fix was to change the

[2015-11-03 18:39] #152 closed

[2015-11-04 15:52] juicedM3 commented on #151
Well, I've found something that works, but not sure why:

[code]

And then for the command:
[code]
Why shouldn't it work? We're subbing in the port for DC1 but we really need the port for DC0. We're doing the same thing on DC0. We've tested it and we've seen replication across the two clusters. I can't explain it and it's not pretty.

[2015-11-04 16:37] dlyub opened #154 "Node instance is failing to come up after the reboot and scheduler restart"
Here's the scenario that's not working for me:
1. scaled the number of scheduler instances to 0 in Marathon
2. scaled the number of scheduler instances to 1 in Marathon. Scheduler is now running on different mesos slave/port.
3. restarted cassandra node host. Node is failing to start because it's trying to pull java from the location where the original scheduler used to reside.

Has anyone else se

[2015-11-04 17:48] juicedM3 commented on #151
Am I overthinking this? Can you just pick any port and it will work?

[2015-11-05 22:17] juicedM3 opened #155 "Support for Cassandra 2.2.x"
Is there any plan to support Cassandra 2.2.x?

[2015-11-07 03:16] BenWhitehead commented on #151
When configuring the cassandra framework to connect with another datacenter, you're essentially telling the framework where to find another framework.

So the env variable `CASSANDRA_MULTI_DC_dc1=http://dcos.cassandra.dc1:5080` means that when trying to connect to the other framework instances host is `dcos.cassandra.dc1` and port is `5080`.  What is being specified for the env variable value is a

[2015-11-07 03:20] BenWhitehead commented on #154
Hi @dlyub, this is a bug that was fixed in version 0.2.0 and should no longer be happening. If you're running 0.1.0 please upgrade (it can be performed in place and shouldn't require anything extra from you beside using the new artifacts).  After upgrading you'll need to issue a restart for that node to the rest api by sending `POST /node/{node}/restart` and the framework should restart that node.

[2015-11-07 03:24] BenWhitehead commented on #152
By default libmesos that provides the implementation of the SchedulerDriver connecting to mesos requires bidirectional communication.  The scheduler will connect to the master to send messages, but will tell the master where it's listening so that the master can send messages back to the scheduler.

This scenario will be reduced in the future with the introduction of the new HTTP APIs being built

[2015-11-09 00:25] dlyub commented on #154
@BenWhitehead we're currently on 0.2.0-1. Is there something in the config / env / logs I should be checking?

[2015-11-09 19:32] kiambogo opened #157 "Launch on Mesos/Marathon created with docker compose"
I have Mesos/Zookeeper/Marathon/slave nodes created in docker containers, and am trying to add cassandra-mesos with Marathon. The application is stuck in Deploying in Marathon. In Mesos, I can see the task while it's staging and can see through the sandbox that it downloads the necessary files. However, the task gets killed shortly after with no indication of what went wrong in stderr/stdout. Tail

[2015-11-09 19:38] BenWhitehead commented on #154
Try grepping for `TASK_ERROR` in `cassandra-mesos.log`, this should output the error response from mesos if the task is invalid (telling to to run the task in an executor that doesn't exist [the bug that was fixed in 0.2.0]).

If that doesn't turn up anything, grepping for `TASK_FALIURE` should provide more info about which task is failing and the data that's going into it.

[2015-11-09 20:41] dlyub commented on #154
here's what I see in stderr and cassandra-mesos.log

I1109 20:32:04.112392 14339 fetcher.cpp:414] Fetcher Info: {"cache_directory":"\/tmp\/mesos\/fetch\/slaves\/e3975add-1363-4231-8e59-d03c9351fdac-S5\/root","items":[{"action":"BYPASS_CACHE","uri":{"extract":true,"value":"http:\/\/my_slave_node:31652\/jre-7-linux.tar.gz"}},{"action":"BYPASS_CACHE","uri":{"extract":true,"value":"http:\/\/my_slave_n

[2015-11-09 23:37] BenWhitehead commented on #154
It sounds like the scheduler didn't properly detect that the executor was lost.

If you have another node available in your cluster that could run cassandra the easiest thing to do to sidestep this issue would be to `TERMINATE` it with `POST /node/{node}/terminate` and the framework should replace it when the next resources offer comes in.

[2015-11-11 15:40] a-nldisr opened #158 "No seed nodes launched"
Hello,

When using the marathon json file that is provided we are able to launch 3 executors, they run perfectly however we find the following error in the log:

[code]

This causes all our server tasks to fail. The logs from the server are clean and no reason for failures, but the framework logs describes the failure above.

We looked through the cassandra.yml configuration (even unpacked all tar

[2015-11-16 19:06] achalupa74 opened #159 "Cassandra-Mesos and SSL?"
Is it possible to use cassandra-mesos in such a way that Cassandra is exposed securely?  Since Cassandra is a database our implementation will require that we use SSL between clients and cassandra as well as the inter node communication.

Any tips on how to make Cassandra secure when using the cassandra-mesos plugin?

If it's not supported yet do you have a projection as to when it might be suppor

[2015-11-25 19:01] zhitaoli opened #160 "Tutorial of using vagrant and/or virtualbox to setup dev cluster"
It seems like more and more Mesos frameworks start to provide an initial Vagrant file for setting a local dev instance in a VM (with virtualbox as first choice). It's a pretty convenient way for newbies to get a local dev environment set up and familiarize with the framework.

An example from myriad: https://github.com/apache/incubator-myriad/blob/master/docs/vagrant.md

Has this been ever brought

[2015-11-27 12:31] a-nldisr commented on #158
We found out the following:
When the framework is started on a 'clean' Mesos cluster with the default settings, the framework starts with 3 nodes and everyone is happy.

When cleaning up the framework (teardown, rmr /cassandra in zk, remove the processes if any on the nodes) and restarting the framework with same or other cluster name the frameworks first executor always fails with unknown reasons

[2015-11-27 12:31] #158 closed

[2015-12-07 17:25] juicedM3 commented on #154
We've seen this same issue but through a different scenario. We're running cassandra-mesos 0.2.1. We started the framework and discovered the next day it fell over. The most likely scenario we could come up with was the the scheduler moved hosts and then 2 of the mesos-agent where nodes were running restarted. The nodes were still pointing to the first server the scheduler was running on and could

[2015-12-11 21:28] jdoklovic commented on #155
++ for Cassandra 2.2.x

[2015-12-19 07:18] alfredcs commented on #157
We ran into similar situation while the same Cassandra image worked just fine when deploying with docker directly. The error seemed to be caused by "cassnadra -f" exited with "Killed" in docker-entrypoint.sh under marathon. No ROC or work-around has been identified yet.

[2015-12-22 22:43] mcoffin commented on #155
I have a [branch](https://github.com/mcoffin/cassandra-mesos/tree/cassandra-3.1%231) that works (at least minimal features tested... working on more extensive testing now) for Cassandra `3.1`. The edits I made there should make it *very* easy to configure to use cassandra 2.2 though.

Keep in mind that any time you're switching versions around, a lot of unforeseen things may start breaking out of

[2015-12-23 17:14] jdoklovic commented on #155
Awesome @mcoffin I'll give it a go.
Quick question... There's talk of Cassandra.yaml in the readme but I can't figure out how to provide a custom file to override the defaults. Any ideas?

[2015-12-23 18:32] khaverlo commented on #143
Investigating this further and the issue for me was that the scheduler would register with mesos which in turn would send an acknowledgement to the slave node.  The slave node would never receive the acknowledgement and would again attempt to register.  Mesos uses a random port range between 30000-60000 to communicate back to the slave node.  I opened those port ranges and the scheduler was able t

[2015-12-23 18:32] #143 closed

[2016-01-27 09:43] elisehuard commented on #155
++ there's been quite a few changes since 2.1.4

[2016-01-28 13:37] dmitriybondr opened #162 "Scheduler fails trying to increase the number of nodes"
After sending this request to a scheduler it sometimes fails, but sometimes count of nodes are increased, but scheduler is restarted on another node.
Is it a necessary behavior to restart scheduler after increasing number of nodes using API?
{
        "contentType": [
            "application/json"
        ],
        "method": "POST",
        "url": "http://localhost:18080/scale/nodes?nodeCount={c

[2016-01-29 15:23] allenxiang opened #163 "Adjust resources(memory, cpu etc) allocated to each cassandra node after cassandra-mesos gets deployed."
It seems right now there is no way to adjust resources(memory, cpu etc) allocated to each cassandra node after cassandra-mesos gets deployed. Currently I have to tear down the whole cassandra-mesos framework and redeploy it in order to increase memory for each cassandra node. In this case, all the cassandra data will be gone.

A good example to follow will be the kafka-mesos framework. https://git

[2016-02-05 10:14] rvesselinov opened #165 "Trouble with starting Cassandra cluster"
Hello,

I try to start Cassandra Mesos (0.2.0-1) on Messos framework(0.26.0)  with Marathon (0.13.0) but there is problem with retrieval of the executor metadata and the scheduler declines the offers constantly:
https://gist.github.com/rvesselinov/31a2bae2e52f7d940682
Same happens also with cassandra-mesos 0.2.1-SNAPSHOT-608-master.

The Marathon task for Cassandra is with following configuration:

[2016-02-09 16:56] allenxiang opened #166 "Allow cassandra scheduler to inject a java agent into cassandra jvm."
We need a way for cassandra scheduler to inject a java agent(e.g. jmx exporter) into cassandra jvm so that we can instrument cassandra better.

[2016-02-23 02:08] ad1ous opened #167 "Issues replacing dead node"
I believe I may have found a bug in the case where:
- The scheduler and executor are running on the same instance
- This instance fails, ie. does not cleanly exit the cluster and does not return (To replicate this on AWS I would simply terminate the instance.)
- Scheduler comes up on another node as expected
- Terminate the failed node using `/node/{node}/terminate`

As expected, receive this resp

[2016-03-03 14:03] ray- opened #168 "Unresolveable build extension: maven-protoc-plugin:0.4.0"
The `pom.xml` is referring to a URL that doesn't exist: http://sergei-ivanov.github.com/maven-protoc-plugin/repo/releases

I'll try to hunt around for it.

Full error here:

[2016-03-10 08:43] eastlondoner opened #169 "Adding Nodes to a cluster"
I've got cassandra-mesos running as a dcos package and it's working great with 3 nodes.
I want to add cassandra nodes but I cannot work out how to do it from the docs.

I've tried running:
dcos cassandra node cluster resize --json cassandra.dcos 5

which completes without any output but my cluster size and number of cassandra tasks remains the same.

[2016-03-10 09:45] abrashid commented on #154
Hi  juicedM3,

I am having also the similar issue:

I0310 11:07:34.817458 31808 sched.cpp:264] No credentials provided. Attempting to register without authentication
E0310 11:09:42.033685 31815 socket.hpp:107] Shutdown failed on fd=37: Transport endpoint is not connected [107]
I0310 11:10:12.377645 31814 sched.cpp:819] Got error 'Completed framework attempted to re-register'
I0310 11:10:12.377678

[2016-03-10 14:45] juicedM3 commented on #154
Abu,

My workaround was to modify the source code. I moved the archives to a known server so that they never move. I then added the option to specify a DOWNLOAD_HOST.

[code]

Another option without modifying the source code would be to setup mesos-dns or consul + mesos-consul. Then you could set HOST to something like:

[code]
And when cassandra-mesos moves to a new host, mesos-consul will update

[2016-03-18 02:07] eastlondoner commented on #169
it turns out I only had 4 nodes in my cluster - works fine going from 3 -> 4.
It probably would be better if it didn't fail silently though

[2016-03-19 19:51] eastlondoner opened #170 "Use persistent volumes for data storage"
It seems like persistent volumes would be great for cassandra (It is even mentioned by name in the docs on mesos!):
http://mesos.apache.org/documentation/latest/persistent-volume/
Is there a plan to add support for persistent volumes?
What is required to make it work?

[2016-03-30 03:36] brentley commented on #167
I just ran in to this exact same scenario.

[2016-04-08 21:07] dlyub commented on #154
just 'fixed' this problem by doing 'rmr /cassandra-mesos' in zkCli and restarting the scheduler

[2016-04-15 18:22] johnweldon opened #171 "Suggested URI for a 2.1.5 or newer version of cassandra?"
2.1.5 fixed a bug ([CASSANDRA-9216](https://issues.apache.org/jira/browse/CASSANDRA-9216)) that is causing some of our tables to not get compacted.

The [currently suggested link](https://downloads.mesosphere.io/cassandra-mesos/artifacts/0.2.1-SNAPSHOT-608-master-d1c2cf30c8/cassandra-mesos-0.2.1-SNAPSHOT-608-master-d1c2cf30c8.tar.gz) in the marathon.json template is for 2.1.4

Can you suggest a do

[2016-04-18 00:18] ad1ous commented on #171
You will most likely need to build the framework yourself and host somewhere accessible to your mesos cluster - there are forks of this project that have updated the version of cassandra in use.

[2016-04-18 02:50] johnweldon commented on #171
Thank you.

John Weldon
On Apr 17, 2016 17:18, "ad1ous" <notifications@github.com> wrote:

[2016-04-18 18:18] #171 closed

[2016-05-12 17:42] daespark opened #172 "Logs not clearing"

[2016-05-12 17:42] #172 closed

[2016-08-23 20:56] rahulkumar-aws commented on #168
+1

[2016-10-31 13:27] triclambert commented on #170
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.  It fully supports persistent volumes from Mesos.

[2016-10-31 13:27] #170 closed

[2016-10-31 13:27] triclambert commented on #169
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:27] #169 closed

[2016-10-31 13:28] triclambert commented on #168
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:28] #168 closed

[2016-10-31 13:28] triclambert commented on #167
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:28] #167 closed

[2016-10-31 13:29] triclambert commented on #166
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.  It supports proper JMX configuration.

[2016-10-31 13:29] #166 closed

[2016-10-31 13:29] triclambert commented on #166
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.  It supports proper JMX configuration.

[2016-10-31 13:30] triclambert commented on #165
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:30] #165 closed

[2016-10-31 13:30] triclambert commented on #163
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:30] #163 closed

[2016-10-31 13:30] triclambert commented on #162
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:30] #162 closed

[2016-10-31 13:31] triclambert commented on #159
This repository is deprecated.  Please use the latest supported framework here:  https://github.com/mesosphere/dcos-cassandra-service.  However, we do not yet support SSL.  Please file a feature request if you're still interested in this:  https://dcosjira.atlassian.net/browse/CASSANDRA

[2016-10-31 13:31] #159 closed

[2016-10-31 13:31] triclambert commented on #160
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:31] #160 closed

[2016-10-31 13:34] triclambert commented on #155
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service.  We currently support the 3.0.x line of releases.

[2016-10-31 13:34] #155 closed

[2016-10-31 13:35] triclambert commented on #151
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service.

[2016-10-31 13:35] #151 closed

[2016-10-31 13:36] triclambert commented on #137
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here:  https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:36] #137 closed

[2016-10-31 13:37] triclambert commented on #148
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here:  https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:37] #148 closed

[2016-10-31 13:37] triclambert commented on #147
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here:  https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:37] #147 closed

[2016-10-31 13:37] triclambert commented on #141
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here:  https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:37] #141 closed

[2016-10-31 13:37] triclambert commented on #144
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here:  https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:37] #144 closed

[2016-10-31 13:42] triclambert commented on #140
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here: https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:42] #140 closed

[2016-10-31 13:42] triclambert commented on #154
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here: https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:42] #154 closed

[2016-10-31 13:44] triclambert commented on #157
This repository is deprecated. Please use the latest supported framework here: https://github.com/mesosphere/dcos-cassandra-service, and provide feedback for us here: https://dcosjira.atlassian.net/browse/CASSANDRA.

[2016-10-31 13:44] #157 closed

[2017-07-17 12:07] matses72 opened #173 "Support for production Workload DC OS and DataStax Cassandra latest Versions"
Hi, looking for a **Support Statement** running **DataStax Cassandra on DC OS Enterprise** - the only thing i found was on Docs: https://mesosphere.github.io/cassandra-mesos/docs/
that there is no support for production workload - not sure if this is also true for running on dcos inside a Docker Container or if it is only true for mesos container format.

[2017-07-20 09:38] daikon12 opened #174 "cassandra-mesos installed question"
Hi ! you are doing a great thing . I wonder the project of  cassandra-mesos-deprecated orhttps://github.com/mesosphere/dcos-cassandra-service can be installed and run on ubuntu14.04.I did it a long time ago , but  It is not work.

[2017-11-30 00:00] triclambert commented on #174
This project is deprecated.  It will be archived on December 1, 2017.  Instead, please check out [Apache Cassandra for DC/OS](https://docs.mesosphere.com/service-docs/cassandra/).

[2017-11-30 00:00] #174 closed

[2017-11-30 00:01] triclambert commented on #173
This project is deprecated.  It will be archived on December 1, 2017.  Instead, please check out [Apache Cassandra for DC/OS](https://docs.mesosphere.com/service-docs/cassandra/) or [DataStax Enterprise for DC/OS](https://docs.mesosphere.com/service-docs/dse/) (in partnership with DataStax).

[2017-11-30 00:01] #173 closed

[2018-03-02 22:34] ryanriddel commented on #5
this has happened to me in about 3 different dcos installs, on-prem and GCP. totally sucks.

[2018-04-11 17:03] tariksetia opened #175 "Co locating spark and cassandra on mesos."
I am new to Mesos and I am evaluating it as platform for our log and events analytics platform for an enterprise.
I tried searching it on web however couldn't find any resource that taught how to put spark and Cassandra on same node, on every node in a cluster.

Any guidance, docs, blog, book that can help me, will be deeply appreciated

Thanks!
-Tarik